<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="inner">
                <div class="logo">
                    <img src="https://storage.googleapis.com/ezip-logo/135_20221023223126.png" alt="">
                </div>
                <div class="inner_booking">
                    <p class="title">{{booking[4]}}</p>
                    {% if booking[3] == '1' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 16:00~17:30</p>
                    {% elif booking[3] == '2' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 16:30~18:00</p>
                    {% elif booking[3] == '3' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 17:00~18:30</p>
                    {% elif booking[3] == '4' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 17:30~19:00</p>
                    {% elif booking[3] == '5' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 18:00~19:30</p>
                    {% elif booking[3] == '6' %}
                    <p class="date">{{booking[0]}}/{{booking[1]}}/{{booking[2]}} 18:30~20:00</p>
                    {% endif %}
                </div>
                <div class="inner_info">
                    <p>{{info_text}}</p>
                </div>
                <div class="inner_url">
                    <button type="button" onclick="location.href='https://booking-pqqge4tuoq-an.a.run.app'">予約ページに移動する</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>