<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認ページ</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="inner">
                <div class="inner_logo">
                    <img src="https://storage.googleapis.com/ezip-logo/135_20221023223126.png" alt="">
                </div>
                <div class="inner_info">
                    <p>{{checkStr}}</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>